{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ name }}
{% endblock %}

{% block content %}
  <p>Sup my main man {{ user.username }} </p>
  <h1>Articles</h1>

  {% if request.user.is_authenticated %}
    <h1>My Articles</h1>
      <ul>
        {% for article in ownarticles %}
          <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</li>
        {% endfor %}
        </ul>
        <a href="{% url 'blog:article-create' %}"><button>Create Article</button></a>
  {% endif %}

<h1>All Articles</h1>
{% for article_category in object_list %}
  <h2>{{article_category.name}}</h2>
  <ul>
    {% if request.user.is_authenticated %}
      {% for article in article_category.articles.all %}
        {% if article not in ownarticles %}
          <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for article in article_category.articles.all %}
        <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>

{% endfor %}
{% endblock %}  