{% extends 'base.html' %}
{% load static %}

{% block header %}Blog Articles{% endblock %}
{% block title %}Blog{% endblock %}
{% block content %}
  {% for articlecategory in object_list %}
    <h2>{{ articlecategory.name }}</h2>
    <p>{{ articlecategory.description }}</p>
    <ul>
      {% for article in articlecategory.article.all %}
        <li>   
          <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}