{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ name }}
{% endblock %}

{% block content %}
<div class="header">
  <h1>Articles</h1>
  <h3>Logged in as {{ user.username }} </h3  >
</div>
  {% if request.user.is_authenticated %}
<div class="content">
    <h2>My Articles</h2>
      <ul>
        {% for article in ownarticles %}
          <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</li>
        {% endfor %}
        </ul>
        <a href="{% url 'blog:article-create' %}"><button>Create Article</button></a>
  {% endif %}

<h2>All Articles</h2>
{% for article_category in object_list %}
  <h2>{{ article_category.name }}</h2>
  <ul>
    {% for article in article_category.articles.all %}
      {% if request.user.is_authenticated %}
        {% if article not in ownarticles %}
          <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        {% endif %}
      {% else %}
        <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endfor %}
{% endblock %}
