<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <nav>
    <a href="{% url 'homepage:homepage' %}">Home</a>
    <a href="{% url 'blog:article-list' %}">Blog</a>
    <a href="{% url 'commissions:commission-list' %}">Commissions</a>
    <a href="{% url 'merchstore:product-list' %}">Merchstore</a>
    <a href="{% url 'wiki:article_list' %}">Wiki</a>

    <!-- LOGIN/LOGOUT BUTTON, WILL FIX FORMAT -->
    {% if request.user.is_authenticated %}
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    {% else %}
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <button type="submit">Login</button>
      </form>
    {% endif %}
  </nav>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>