{% extends 'base.html' %}
{% load static %}

{% block title %} Update Commission {% endblock %}
{% block content %}
<div class="header">
<h1>Edit {{ commission }}</h1>
</div>
<div class="content">
<form method="post">
  {% csrf_token %}
  {{ commission_form.as_p }}
  <button name="save_commission">Save Commission Data</button>
</form>
</div>
<div class="header">
<h2>Update Jobs</h2>
</div>
<div class="content">
<form method="post">
  {% csrf_token %}
  {% for job, job_form in job_data %}
    {{ job_form.as_p }} 
    <ul>
      {% for application, application_form in application_data %}
        {% if application.job == job %}
          <li>Applicant: {{ application.applicant.name }}</li>
          <p>{{ application_form.as_p }}</p>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
  <button type="submit">Update jobs</button>
</form>
</div>

<form method="post" id="form-container">
  {% csrf_token %}

<div class="header">
  <h2>Add Jobs</h2>
</div>
<div class="content">
  {{ job_formset.management_form }}
  {% for job_form in job_formset %}
    <div class="job-form">
      {{ job_form.as_p }}
    </div>
  {% endfor %}
  <button id="add-form" type="button">Add row</button>
  <br>
  <button type="submit">Add jobs</button>
</form>
</div>
<script>
  let jobForm = document.querySelectorAll(".job-form")
  let container = document.querySelector("#form-container")
  let addButton = document.querySelector("#add-form")
  let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

  let formNum = jobForm.length-1
  addButton.addEventListener('click', addForm)

  function addForm(e){
      e.preventDefault()

      let newForm = jobForm[0].cloneNode(true)
      let formRegex = RegExp(`form-(\\d){1}-`,'g')

      formNum++
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
      container.insertBefore(newForm, addButton)
      
      totalForms.setAttribute('value', `${formNum+1}`)
  }
</script>

{% endblock %}


