{% extends 'base.html' %}
{% load static %}

{% block title %} Update Commission {% endblock %}
{% block content %}
<h1>Edit {{ commission }}</h1>
<form method="post">
  {% csrf_token %}
  {{ commission_form.as_p }}
  <button name="save_commission">Save Commission Data</button>
</form>

<h2>Update Jobs</h2>
<form method="post">
  {% csrf_token %}
  {% for job, job_form in job_data %}
    {{ job_form.as_p }} 
    <ul>
      {% for application, application_form in application_data %}
        {% if application.job == job %}
          <li>Applicant: {{ application.applicant.name }}</li>
          <p>{{ application_form.as_p }}</p>
        {% endif %}
      {% endfor %}
    </ul>
  {% endfor %}
  <button type="submit">Update</button>
</form>

{% endblock %}


