{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/merchstore.css' %}">

    <div class="header">
      <h1>Merchandise Store</h1>
      {% if user.is_authenticated %}
          <h3>Logged in as {{user.get_username}} | 
          <a href="{% url 'merchstore:cart-view' %}" style="color: beige;">View Cart</a> | 
          <a href="{% url 'merchstore:transaction-view' %}" style="color: beige;">View Transactions</a></h3>
      {% else %}
          <h3>You are currently logged out</h3>
      {% endif%}
    </div>

    <div class="content">
        <ul>
            <li>Name: <span class="productname">{{object.name}}</span></li>
            <ul>
                <li>Owner: {{object.owner.name}}</li>
                <li>Price: PHP {{object.price}}</li>
                <li>Type: {{object.producttype.name}}</li>
                <li>Description: {{object.description}}</li>
                <li>Status: {{object.status}} (Stock: {{object.stock}})</li>
            </ul>
        </ul>
        {% if user.is_authenticated %}
            {% if object.owner.name == user.get_username %}
                <h3><a href="{{object.pk}}/edit">Edit Product</a></h3>
            {% else %}
                {% if object.stock > 0 %}
                    <div class="forms">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form }}
                            <div class="center">
                                <button type="submit" class="buttons">Order</button>
                            </div>
                        </form>
                    </div>
                {% else%}
                    <h4>Out of Stock</h4>
                {% endif %}
            {% endif %}
        {% else %}
          <div class="forms">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <div class="center">
                    <button type="submit" class="buttons">Order</button>
                </div>
            </form>
          </div>
        {% endif %}
    </div>
    <h3><a href="/merchstore/items">Go back to product list</a></h3>
    
{% endblock %}