{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/merchstore.css' %}">

    <div class="header">
        <h1>Merchandise Store</h1>
        {% if user.is_authenticated %}
          <h3>Logged in as {{user.get_username}}| 
          <a href="{% url 'merchstore:cart-view' %}" style="color: beige;">View Cart</a> | 
          <a href="{% url 'merchstore:transaction-view' %}" style="color: beige;">View Transactions</a></h3>
        {% else %}
          <h3>You are currently logged out</h3>
        {% endif%}
    </div>

    <div class="content">
        <h2>Products</h2>
        {% if user.is_authenticated%}
            <h3 class="productname">Your Products</h3>
            <ul>
                {% for product in object_list %}
                    {% if product.owner.name == user.get_username %}
                        <li><a href="{{product.get_absolute_url}}"><span class="productname">{{product.name}}</span></a>
                            <ul>
                                <li>Type: {{product.producttype}}</li>
                                <li>Price: {{product.price}}</li>
                                <li>Stock: {{product.stock}}</li>
                                <li>Status: {{product.status}}</li>
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <h3 class="productname">All Products</h3>
            <ul>
                {% for product in object_list %}
                    {% if product.owner.name != user.get_username %}
                        <li><a href="{{product.get_absolute_url}}"><span class="productname">{{product.name}}</span></a>
                            <ul>
                                <li>Owner: {{product.owner.name}}</li>
                                <li>Type: {{product.producttype}}</li>
                                <li>Price: {{product.price}}</li>
                                <li>Stock: {{product.stock}}</li>
                                <li>Status: {{product.status}}</li>
                            </ul>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            <ul>
                {% for product in object_list %}
                    <li><a href="{{product.get_absolute_url}}"><span class="productname">{{product.name}}</span></a>
                        <ul>
                            <li>Owner: {{product.owner.name}}</li>
                            <li>Type: {{product.producttype}}</li>
                            <li>Price: {{product.price}}</li>
                            <li>Stock: {{product.stock}}</li>
                            <li>Status: {{product.status}}</li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <h3><a href="item/add">Add a Product</a></h3>
    </div>

{% endblock %}