{% extends 'base.html' %}
{% load static %}

{% block header %}wiki Articles{% endblock %}
{% block title %}wiki Detail{% endblock %}
{% block content %}
<a href="{% url 'wiki:article_list' %}"><h1>Wiki List</h1></a>
  <h2>{{article.title}}</h2>

  {% if article.headerImage %}
    <img src = "{{ article.headerImage.url }}" alt="image">
  {% else %}
    <p>Image not available.</p>
  {% endif %}
  <p>{{article.entry}}</p>

  {% if viewer == article.author %}
  <a href="{% url 'wiki:article_edit' pk=article.pk %}"><button>Edit</button></a>
  {% endif %}

  {% if request.user.is_authenticated %}
  <h3>Submit a Comment!</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
  {% else %}
  <p><a href="{% url 'login' %}">Please login to submit a comment.</a></p>
  {% endif %}

<h2>Comments</h2>
<ul>
  {% for comments in article.commentarticle.all %}
  <li>
    <h5>{{ comments.author }}</h5>
    <p>{{ comments.entry }}</p>
    <p>Created On: {{ comments.createdOn }}</p>
    <p>Updated On: {{ comments.updatedOn }}</p>
  </li>
  {% empty %}
    <li>Be the first one to Comment!</l1>
  {% endfor %}
</ul>

<h4>More articles from {{ article.author }}:</h4>
<ul>
  {% for related_article in articleFromAuthor %}
    {% if related_article.pk != object.pk %}
        <li><a href="{{ related_article.get_absolute_url }}">{{ related_article.title }}</a></li>
    {% endif %}
  {% endfor %} 
</ul>

{% endblock content %}