{% extends 'base.html' %}
{% load static %}

{% block header %} Wiki Articles {% endblock %}
{% block title %}Hobbysite{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
    <h1> hello, {{ user.username }}</h1>
{% endif %}

<h1>Wiki Articles</h1>

{% if request.user.is_authenticated %}
    <h2>Your Articles</h2>
    <ul>
        {% for article in authorArticles %}
            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<h1>All Articles</h1>
{% for article_category in object_list %}
  <h2>{{article_category.name}}</h2>
  <ul>
    {% if request.user.is_authenticated %}
      {% for article in article_category.articlecategory.all %}
        {% if article not in authorArticles %}
          <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for article in article_category.articlecategory.all %}
        <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
{% endfor %}

{% endblock %}